<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- Add the PCG Builder view -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.pcg.ui.PCGBuilderView"
            icon="icons/toolbox.gif"
            id="com.ensoftcorp.open.pcg.ui.pcgBuilderView"
            name="PCG Builder">
      </view>
   </extension>
   
   <!-- Add the PCG Log view -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.pcg.ui.PCGLogView"
            icon="icons/toolbox.gif"
            id="com.ensoftcorp.open.pcg.ui.pcgLogView"
            name="PCG Log">
      </view>
   </extension>
   
   <!-- Add the PCG Smart Views -->
   <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.ensoftcorp.open.pcg.ui.smart.PCGSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.pcg.ui.smart.ExceptionalPCGSmartView">
      </script>
   </extension>

</plugin>